.label {
  font-size: 22px;
  font-weight: 700;
  height: 26px;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.smallStyleSelectBtn {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 16px;
  height: 44px;
  padding: 4px 12px;
  border: none;
  border-radius: 10px;
  background-color: #feefcd;
  gap: 8px;
}
