.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(16px);
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: #feefcd;
  padding: 32px 24px;
  border-radius: 40px;
  width: 100%;
  max-width: 412px;
  border: 4px solid #362a32;
  gap: 16px;
}

.assetList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.closeModalButton {
  height: 71px;
  border-radius: 16px;
  padding: 20px 24px;
  background-color: #773900;
  color: #feefcd;
  border: none;
}

.coinIcon {
  width: 36px;
  height: 36px;
}
